<title>Github Interaction Limits Setter</title>
<script src="popup.js"></script> Org/user:
<form id="githubForm">
    <input id="githubSlug">
    <label for="isUser">Is user?</label>
    <input type="checkbox" id="isUser"><br><br>
    <label for="limitType">Type:</label>
    <select id="limitType">
        <option value="time-limit">Limit to existing users</option>
        <option value="contributor-only">Limit to prior contributors</option>
        <option value="collaborator-only">Limit to repository collaborators</option>
    </select>
    <br><br>
    <button type="submit" id="runTasks">
        Run
    </button>
</form>
<pre id="log"></pre>